:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --dark-brand-primary: #0768ac;
  --dark-brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-heart-color: #dc143c;
  --star-color: #d69916;
}

body {
  font-family: "Nunito Sans";
  display: grid;
  grid-template-columns: 100vw;
  margin: 0;

  justify-items: center;
  color: var(--body-text);
}
.header {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 6vh 8vh;
  background-color: var(--bg_body);
}
img {
  width: 90vw;
  height: 250px;
}
.upper-header {
  display: grid;
  width: 100vw;
  height: 100px;
  grid-template-columns: 150px 160px;
  justify-content: space-between;
  align-items: center;
}
.upper-header h2 {
  color: var(--brand-primary);
  margin-left: 3vw;
  font-weight: 500;
}
.upper-header button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 50px;
  height: 40px;
  font-size: large;
  display: grid;
  align-items: center;
  justify-items: center;
}
.bottom-header h1 {
  color: var(--brand-secondary);
  font-weight: 800;
  margin-left: 1vw;
  margin-bottom: 0px;
}
.bottom-header h3 {
  font-weight: 400;
  margin: 0px;

  margin-left: 1vw;
}
main {
  background-color: rgba(7, 104, 172, 0.15);
  margin-top: 25px;
  width: 100vw;
}
.result {
  background-color: var(--bg_default);
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 255px 25px 30px 40px 25px 25px;
  justify-items: center;
  align-items: center;

  height: 450px;
}
.result p,
h3,
.rate,
.auther {
  width: 82vw;
}
.result p,
h3 {
  margin: 0;
}
.result p {
  margin-top: 15px;
}
.browsers {
  appearance: none;
}
.result .rate {
  display: grid;
  grid-template-columns: repeat(5, 20px);
}
.result .rate ion-icon {
  font-size: 20px;
  color: var(--star-colo);
}

.result .auther {
  margin-top: 40px;
  font-size: medium;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 500;
}
[placeholder] {
  font-size: large;
}
@media only screen and (max-width: 961px) {
  .hidden-words {
    display: none;
  }
  .upper-header nav {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 35px;
    margin-right: 5vw;
    width: 130px;
    gap: 10px;
  }
  .upper-header ion-icon {
    font-size: 20px;
  }
  .complex-style {
    height: 1.5vh;
  }
  #brand-left {
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    border-top: 0 solid transparent;
    border-left: 80vw solid;
    border-left-color: var(--brand-primary);
    border-bottom: 35px solid transparent;
  }
  #brand-right {
    height: 0;
    position: absolute;
    width: 0;
    left: 20vw;
    z-index: -1;
    border-top: 0 solid transparent;
    border-right: 80vw solid var(--brand-secondary);
    border-bottom: 35px solid transparent;
  }
  .title {
    width: 90vw;
    display: grid;
    justify-content: center;
  }
  main {
    display: grid;
    grid-template-columns: 90vw;
    justify-content: center;
  }
  search {
    display: grid;
    grid-template-columns: 90vw;
    background-color: var(--bg_default);
    margin-top: 25px;
    border-radius: 15px;
    height: 150px;
  }

  .search-input {
    border-bottom: 1px solid var(--lines-color);
    width: 90vw;
    height: 60px;
    display: grid;
    grid-template-columns: 8vw 81vw;
    justify-items: center;
    align-items: center;
  }
  #site-name-search {
    width: 81vw;
    border: 0;
    height: 30px;
  }

  .filter {
    display: grid;
    grid-template-columns: 45vw 45vw;
    justify-content: space-around;
  }
  .infilter {
    width: 45vw;
    height: 90px;
    display: grid;
    justify-items: center;
    grid-template-rows: 30px 40px;
  }
  .sort-by {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .infilter p {
    margin: 0;
    margin-top: 10px;
    text-align: start;
    width: 38vw;
    font-weight: 500;
    font-size: 17px;
  }
  .browsers {
    width: 32vw;
    border: 0;
    font-size: 23px;
    height: 40px;
  }

  .infilter ion-icon {
    font-size: 18px;
    font-weight: 100;
    color: var(--body-text);
  }
  .upper-header nav p {
    display: none;
  }
}
