:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --dark-brand-primary: #0768ac;
  --dark-brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-heart-color: #dc143c;
  --star-color: #d69916;
  --auther-color: #888888;
}
.upper-header h3 {
  font-weight: 800;
  font-size: x-large;
  margin-bottom: 20px;
}
.upper-detail {
  display: flex;

  background-color: var(--body-text);
  width: 100vw;
  justify-content: center;
  max-height: 278px;
}
#title {
  color: var(--brand-secondary);
  font-size: 15px;
  font-weight: 500;
}
#big-title,
#more-details p {
  color: var(--bg_default);
}
#big-title {
  font-size: 25px;
  font-weight: 700;
}
.rate ion-icon {
  font-size: 16px;
}
#more-details p {
  font-size: 16px;
}
.left-detail {
  display: flex;
  flex-direction: column;
  width: 41.5vw;
  padding: 32px;
  padding-bottom: 12px;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22vw;
  margin: 32px 0px 0px 0px;
  background-color: var(--bg_default);
  height: 405px;
  border: 1px solid var(--lines-color);
  box-shadow: 0px 1px 2px 0px var(--lines-color);
}
aside img {
  width: 22vw;
  object-fit: cover;
  height: 180px;
}
#image-info {
  padding: 15px;
  padding-top: 0;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#image-info > p > b {
  font-weight: 800;
}
#image-info > p {
  font-weight: 600;
  font-size: 16px;
  width: 20vw;
}
#image-info > p > a {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
  color: var(--brand-primary);
}
#add-to-favorites {
  padding: 10px;
  border: 1px solid var(--lines-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}
#add-to-favorites > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  width: 17vw;
}
#add-to-favorites > button {
  background-color: var(--brand-secondary);
  border: 0;
  color: var(--bg_default);
  width: 17vw;
  height: 55px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#add-to-favorites > button ion-icon {
  width: 50px;
  font-size: 30px;
  color: var(--bg_default);
}
#add-to-favorites > #hiden-p {
  color: var(--auther-color);
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
}
.lower-detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 63.5vw;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-topics {
  background-color: var(--bg_default);
  width: calc(41.5vw - 64px);
  padding: 0;
  margin: 32px;
  border: 1px solid var(--lines-color);
  border-radius: 5px;
}

.sub-topics h2 > b {
  font-weight: 800;
}
.sub-topics h2 {
  padding: 0px 20px 0px 30px;
}
.topic {
  display: flex;
  align-items: center;
  width: calc(41.5vw - 64px);
  padding: 0px 20px 0px 30px;
  gap: 20px;
  border-top: 1px solid var(--lines-color);
  font-weight: 600;
}
.topic ion-icon {
  font-size: 25px;
  color: var(--brand-secondary);
  min-width: 25px;
}
@media only screen and (max-width: 1184px) {
  .upper-detail {
    flex-direction: column;
    align-items: center;
    height: 900px;
    max-height: 900px;
  }
  aside {
    width: calc(41.5vw - 64px);
  }
  aside img {
    width: calc(41.5vw - 64px);
  }
  #image-info > p {
    width: calc(38.5vw - 64px);
  }
  #add-to-favorites {
    width: calc(38.5vw - 64px);
  }
  #add-to-favorites > p {
    width: calc(33.5vw - 64px);
  }
  #add-to-favorites button {
    width: calc(33.5vw - 64px);
  }
  .lower-detail {
    width: calc(41.5vw - 64px);
  }
  .sub-topics {
    width: calc(41.5vw - 64px);
    margin-left: 0;
  }
}
@media only screen and (max-width: 794px) {
  #more-details > p {
    display: none;
  }
  .upper-detail {
    height: 600px;
  }
  aside {
    width: calc(80.5vw - 64px);
  }
  aside img {
    width: calc(80.5vw - 64px);
  }
  #image-info > p {
    width: calc(70vw - 64px);
  }
  #add-to-favorites {
    width: calc(70vw - 64px);
  }
  #add-to-favorites > p {
    width: calc(68.5vw - 64px);
  }
  #add-to-favorites button {
    width: calc(68.5vw - 64px);
  }
  .lower-detail {
    width: calc(80.5vw - 64px);
  }
  .sub-topics {
    width: calc(80.5vw - 64px);
    margin-left: 0;
  }
  .left-detail {
    width: calc(80.5vw - 64px);
    padding-left: 0;
  }
  .topic {
    width: calc(80.5vw - 64px);
  }
}
@media only screen and (max-width: 384px) {
  .upper-detail {
    height: 700px;
  }
  aside {
    height: 450px;
  }
}
